<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Doctors</h5>
          <p class="card-text">{{ totalDoctors }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Patients</h5>
          <p class="card-text">{{ totalPatients }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Appointments Today</h5>
          <p class="card-text">{{ appointmentsToday }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
